

{%- load_yaml as base_defaults %}
Debian:
  pkgs:
  - elasticsearch
  service: elasticsearch
  version: '1.4.4'
RedHat:
  pkgs:
  - elasticsearch
  service: elasticsearch
  version: '1.4.4'
{%- endload %}

{%- set server = salt['grains.filter_by'](base_defaults, merge=salt['pillar.get']('elasticsearch:server')) %}
